<template>
    <div>
        <router-link to="/">назад</router-link>
        <h1 class="title" v-if="GET_CAR.car" >{{ GET_CAR.car.brand_name }}</h1>
        <h2 v-if="GET_CAR.car">{{ GET_CAR.car.name }}</h2>
        <ul class="image__container" v-if="GET_CAR.car">
            <li  v-for="image in GET_CAR.car.images" :key="image.id">
                <img :src="`${image.url}`" alt="картинка машины" class="image__content">
            </li>
        </ul>
        <section class="posts">
            <img v-if="GET_CAR.car" :src="`${GET_CAR.user.avatar.url}`" alt="аватар" class="avatar">
            <div class="">
                <h2 v-if="GET_CAR.car" :id="GET_CAR.user.id">{{ GET_CAR.user.username }}</h2>
                <p v-if="GET_CAR.car">{{ GET_CAR.user.main_auto_name }}</p>
            </div>
        </section>
    </div>
</template>

<script>
    import {mapActions, mapGetters} from 'vuex'

    export default {
        data() {
            return {
                showPost: false
            }
        },
        mounted() {
            this.GET_CURRENT_CAR_FROM_API(this.$route.params.id)
        },
        methods: {
            ...mapActions([
                'GET_CURRENT_CAR_FROM_API'
            ])
        },
        computed: {
            ...mapGetters([
                'GET_CAR'
            ])
        },
    }
</script>

<style scoped>
    ul {
        list-style: none;
    }

    .title {
        margin-top: 50px;
    }

    .image__container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 60%;
        margin: 40px auto;
        justify-content: center;
    }

    .image__content {
        max-width: 300px;
        height: auto;
        object-fit: contain;
    }

    .posts {
        max-width: 60%;
        margin: 30px auto;
        display: flex;
        flex-direction: row;
        padding-left: 150px;
    }

    .avatar {
        max-width: 50px;
        height: auto;
        margin-right: 30px;
        object-fit: contain;
    }

</style>
