<template>
  <div class="home">
    <h1>Выберите марку</h1>
    <ul class="cars__field">
      <li v-for="car in GET_CARS" :key="car.id">{{ car.brand_name }}</li>
    </ul>
    <div class="container mt-4">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3  g-3">
        <div class="col" v-for="item in GET_CARS" :key="item.id">
          <router-link
              :to="`/car/${item.id}`"
              class="card shadow-sm">
            <img :src="`${item.image}`" alt="">
            <div class="card-body">
              <p class="card-text">{{ item.name }}</p>
            </div>
          </router-link>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import 'bootstrap/dist/css/bootstrap.css'
import {mapActions, mapGetters} from 'vuex'

export default {
  name: 'Home',

  created() {
    this.GET_CARS_FROM_API()
  },
  components: {},
  methods: {
    ...mapActions([
      'GET_CARS_FROM_API'
    ])
  },
  computed:{
    ...mapGetters([
        'GET_CARS'
    ])
  }
}
</script>
<style scoped>
ul {
  list-style: none;
}

.cars__field {
  display: flex;
  flex-direction: row;
  max-width: 90%;
  padding: 20px;
  margin: 0 auto;
  justify-content: space-between;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}
</style>
